.wrapper {
    max-width: 960px;
    min-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.error {
    color: #BE0D2D;
}

.logo {
    text-align: center;
    color: orange;
    font: 3vmin 'Oswald', sans-serif;
    margin: 50px 340px;
    border: 3px solid orange;
    padding: 0 0;
}

.active {
    background: orange;
    color: #fff;
}


.logo h1 {
    margin: 0;
}

.menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.menu li:hover {
    background: orange;
    color: #fff;
}

.menu li:hover a {
    color: #fff;
}

a {
    text-decoration: none;
}

.menu {
    text-align: center;
    font: 3vmin 'Oswald', sans-serif;
    list-style-type: none;
}

.line {
    margin-top: 50px;
    margin-left: 100px;
}

.menu-list {
    margin-left: 10px; /* Отступ справа */
    margin-bottom: 0; /* Отступ снизу */
    text-align: center;
}

.menu-icon{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.tab-name {
    background-color: orange;
    margin: 20px 0;
    padding-left: 10px;
    grid-area: div;
}

#home-text {
    font: 2vmin 'Oswald', serif;
    color: gray;
    line-height: 1.5
}

.tab-name h1 {
    display: inline-block;
    color: orange;
    background: white;
    margin: 0;
}

.footer {
    border-radius: 20px;
    min-height:100%;
    margin-top: 400px;
    grid-area: footer;
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 1vmin;
}

.socials {
    margin: 20px 130px;
    color: white;
}

.socials h3 {
    font: 2vmin 'Oswald', sans-serif;
}

.menu-item {
    display: inline-block;
    width: 200px;
    height: 130px;
    margin-right: 10px;
}

.menu-item figcaption {
    text-align: center;
    width: 100px;
    height: 130px;
    font-size: 2vmin;
    color: gray;
}

figure figcaption span {
    font-size: 1.4vmin;
    color: #29c5e6;
}

.copyright {
    margin: 0;
    font-size: 1.7vmin;
    text-align: center;
}

.social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.menu a {
    color: gray;
}

.twitter {
    background: url("res/twitter.png");
    background-size: 30px 30px;
}
.vk {
    background: url("res/vk.png");
    background-size: 30px 30px;
}
.inst {
    background: url("res/inst.png");
    background-size: 30px 30px;
}

.facebook {
    background: url("res/facebook.png");
    background-size: 30px 30px;
}

.chinese {
    background: url("res/chinese.jpg");
    background-size: 100px 100px;
}
.american{
    background: url("res/american.jpg");
    background-size: 100px 100px;
}
.mexican{
    background: url("res/mexican.jpg");
    background-size: 100px 100px;
}
.japanese{
    background: url("res/japanese.jpg");
    background-size: 100px 100px;
}
.fastfood{
    background: url("res/fastfood.jpg");
    background-size: 100px 100px;
}
.breakfast{
    background: url("res/breakfast.jpg");
    background-size: 100px 100px;
}

.news-block {
    margin-bottom: 60px;
    width: 500px;
    margin-left: 230px;
}
.news-block p {
    font-size: 2.6vmin;
}
.news-block h3 {
    font-size: 3vmin;
    color: orange;
    border-bottom: 1px solid #919191;
    margin-bottom: 2px;
}


.contact-block {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 500px;
    margin-left: 230px;
    border-bottom: 1px solid #919191;
}

.contact-block h3 {
    font-size: 3vmin;
    color: orange;
    margin-bottom: 2px;
}

.contact-block p {
    font-size: 2.6vmin;
}

.news-block time {
    color: #c9c9c9;
}

.section-wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
}

.section-wrapper h1 {
    color: gray;
    text-align: center;
}



button {
    font-size: 2.7vmin;
    color: #fff;
    background-color: orange;
    border: none;
    height: 8.3vmin;
    width: 10vmin;
    font-family: 'Oswald', sans-serif;
}

input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 8vmin;
    width: 30vmin;
    font-size: 3vmin;
    color: #b2b2b2;
    padding: 0 1.5vmin;
}